HELP.md
target/
backend/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# ==========================================
# SEGURIDAD Y CONFIGURACIÓN LOCAL
# ==========================================
.env
.env.*
.DS_Store
backend/src/main/resources/application-dev.properties

# ==========================================
# PYTHON & DATA SCIENCE (Tu nuevo módulo)
# ==========================================
# Archivos compilados de Python (Basura)
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebooks (Historial y Checkpoints)
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Entornos Virtuales (Por si usas venv local en lugar de conda global)
venv/
.venv/
env/

# Datos Temporales (Para no subir CSVs gigantes por error)
*.csv
*.xlsx
*.json
# --- EXCEPCIONES (Archivos que SÍ deben subir) ---
# Backend
!backend/src/main/resources/**/*.json

# Frontend (Configuraciones vitales de Angular)
!frontend/package.json
!frontend/package-lock.json
!frontend/angular.json
!frontend/tsconfig.json
!frontend/tsconfig.app.json
!frontend/tsconfig.spec.json

# Agents
.agents/
